<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>Lintubongauskirja</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link type="text/css" rel="stylesheet" href="css/bootstrap.css" th:href="@{css/bootstrap.css}" /> 
</head>
<body>

<div class="col-md-6" style="padding:20px 0">
<p th:inline="text">  <span th:text="#{welcome}"></span> [[${#httpServletRequest.remoteUser}]]</p>    <!-- welcome on avainsana, joka löytyy res.properties-tiedostoista -->
 <br> 
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-sm btn-danger"/>

			</form>
			</br>
			<form>
			<!-- nappulat kielen vaihtamista varten, avainsanat switch-fi ja switch-en, ohje osoitteeseen, 
			päätteen perusteella hakee properties-tiedostoista käytettävät sanat -->
			    <button type="button" th:text="#{switch-fi}" onclick="window.location.href='http://localhost:8080/birdlist?localeData=fi'"></button>
    			<button type="button" th:text="#{switch-en}" onclick="window.location.href='http://localhost:8080/birdlist?localeData=en'"></button> 
				
		</form>

	</div>
	
	<h1 th:text="#{birdwatchingbook}"></h1>
	
	
	</br>
	
	<div class="container">
	
	
	<div class="col-md-7" style="padding:20px 0">
	 <a class="btn btn-success" href="/addfinding" >Lisää uusi havainto</a> 
	 <a class="btn btn-success" href="/add" >Lisää lintu listaan</a> 
	 <a class="btn btn-success" href="/categorylist" >Hallinnoi lintulajeja</a> 
	
	</div>

	<table class="table table-striped">
	
		<tr>
			<th>Nimi</th>
			<th>Levinneisyys</th>
			<th>Huomioita</th>			
			<th>Laji</th>
		
			<th sec:authorize="hasRole('ADMIN')"> </th>
		

		<tr th:each="bird : ${birds}">
			<td th:text="${bird.name}">nimi</td>
			<td th:text="${bird.distribution}">levinneisyys</td>
			<td th:text="${bird.rarity}">harvinaisuus</td>
			<td th:text="${bird.category.name}">laji</td>
		      
			
		   	<td><a class="btn btn-success" th:href="@{/findinglist/{id}(id=${bird.id})}">Katso havainnot</a></td> 
		
			<td><a class="btn btn-success" th:href="@{/edit/{id}(id=${bird.id})}">Muokkaa</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${bird.id})}" class="btn btn-xs btn-danger">Poista</a></td>
		
		
		</tr>		
	</table>
</div> 
</body>
</html>