<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Muokkaa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" /> 
</head>
<body>
	<h1>Muokkaa linnun tietoja</h1>
		
	<div>
		<form th:object="${bird}" th:action="@{/save}" action="#" method="post">
			<label for="id"></label>
		    <input th:value="*{id}" type="hidden" id="id" th:field="*{id}"  />
			
		  	<label for="name">Linnun nimi</label>
			<input type="text" id="name" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="distribution">Levinneisyys</label>
			<input type="text" id="distribution" th:field="*{distribution}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="rarity">Harvinaisuus</label>
			<input type="text" id="rarity" th:field="*{rarity}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<select id="category" th:field="*{category}" class="form-control">
 			 <option th:each="category: ${categories}"      
 			 th:value="${category.categoryId}"
  			  th:text="${category.name}"></option>
			</select>			
			</br></br>
					
			<input class="btn btn-success" type="submit" value="Tallenna"></input>
			 <a class="btn btn-success" href="/birdlist" >Takaisin lintulistaan</a> 
		</form>
	</div>
</body>
</html>