<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Muokkaa havaintoa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Muokkaa havainnon tietoja</h1>
		
	<div>
		<form th:object="${finding}" th:action="@{/savefinding}" action="#" method="post">
			<label for="findingId"></label>
			<!--   <input type="hidden" id="id" th:field="${id}" /> -->
		    <input th:value="*{findingId}" type="hidden" id="id" th:field="*{findingId}"  />
			
		  	<label for="date">Aika</label>
			<input type="text" id="date" th:field="*{date}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="place">Paikka</label>
			<input type="text" id="place" th:field="*{place}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="count">Määrä</label>
			<input type="text" id="count" th:field="*{count}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input type="hidden" id="id" th:field="*{bird.id}" />
			
			
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>